#reply-control .with-tags .category-input{
    margin-right: 0px;
}

.select-tags-section{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    margin: 10px 0px 5px 0px;
    max-height: 300px;
    min-height: 150px;
}

.select-tags-section.with-preview {
    display : none;
}


.select-tags-section .select-tags-header{
    display: flex
}


/*.select-tags-section .select-tags-header .seleted-tag-area{
    overflow-y: scroll;
}*/

.select-tags-section .seleted-tag-wrapper .btn:hover .d-icon{
    color: red;
}

.edit-title .with-tags .d-editor-preview-wrapper{
    margin-bottom: -10em;
}

.select-tags-section .seleted-tag-wrapper .discourse-tag.bullet::before{
    background: #fff;
    content: none;
}


.select-tags-section .select-tags-header .tag-input{
    border: none;
    width: 100%;
    margin-bottom: 0px;
}

.select-tags-section .select-tags-header .tag-input:focus{
    box-shadow: none !important;
}

.select-tags-section .select-tags-header .tag-text-area{
    border: 1px solid #919191;
    padding: 0px;
    color: black;
    min-height: 32px;
//    max-height: 62px;
    flex: 1 1 100%;;
}

.select-tags-section .select-tags-header .tag-text-area .selected-tag{
    border: 1px solid #919191;
    background: #08c;
    margin: 1px;
    padding: 0px;
}

.select-tags-section .select-tags-header .tag-text-area .selected-tag:hover{
    background: #08c;
}
/*.select-tags-section .select-tags-header .tag-text-area .seleted-tag-area{
    overflow-y: scroll;
    max-height: 33px;    
}*/


.select-tags-section .select-tags-header .tag-text-area .selected-tag .discourse-tag{
    color: #fff !important;
}

.select-tags-section .select-tags-header .add-tag-btn .btn {
    color: #08c;
    background-color: #fff;
    font-weight: bold;
    border: 1px solid #08c;
    min-height: 32px;
    padding: 11px 12px;
    float: right;
    height: 100% !important;
}

.select-tags-section .select-tags-header .add-tag-btn .btn:hover {
    color: #fff;
    background-color: #08c;
}

.select-tags-section .select-tags-body{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    padding: 3px;
    min-height: 0px;
}

.select-tags-section .select-tags-body .select-tags-title{
    text-align: center;
}

.select-tags-section .select-tags-body .tag-list-section{
    display: flex;
    overflow-y: scroll;
    flex-grow: 1;
    min-height: 0px;
    display: block;
}

.select-tags-section .select-tags-body .select-tag-category{
    flex: none;
}

.select-tags-section .select-tags-body .tag-list-section ul li{
    list-style-type: none;
}

.select-tags-section .select-tags-body .tag-list-section ul li:first-child {
    font-weight: bold;
}





