{{#if composerComponent.canEditTags}}
    {{#unless site.mobileView}}
        {{#unless model.viewFullscreen}}
        <div class="select-tags-title">
            <div class="title-text">Please select product tags from the list &#8594;</div>
        </div> 
        {{/unless}} 
    {{/unless}}
{{/if}}
